node_modules
.sst
.vscode
dist
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.local
.env.*.local
.git
.gitignore
README.md
.prettierrc
.DS_Store
pdf-previews
*.md
practice.js
test-pdf-preview.ts
vercel.json
sst.config.ts
sst-env.d.ts
package-lock.json
